In [11]:
import numpy as np
import pandas as pd
from sklearn.utils import resample

#set random seed for reproducibility
np.random.seed(29)

In [3]:
#create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(900, 100)

In [5]:
# create dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True) #reset and drop the old index when concat

In [8]:
df.tail()

     feature_1  feature_2  target
995   1.184634   0.142624       1
996   1.255153  -0.030776       1
997  -0.662035  -1.164940       1
998   1.862830   0.745736       1
999   0.195193  -0.166173       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [10]:
#upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [12]:
df_minority_upsampled = resample(df_minority, replace=True, #sample with replacement
                                 n_samples=len(df_majority),
                                 random_state=29)

In [13]:
df_minority_upsampled.shape

(900, 3)

In [14]:
df_minority_upsampled.head()

     feature_1  feature_2  target
985   2.133459   0.606809       1
934   0.632864   0.244152       1
940  -2.382815   0.112178       1
996   1.255153  -0.030776       1
924   0.214314  -0.080975       1

In [15]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [16]:
df_upsampled.shape

(1800, 3)

In [17]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# Down sampling

In [18]:
df_majority_downsampled = resample(df_majority, replace=False,
                                   n_samples=len(df_minority),
                                   random_state=29)

In [19]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled]).reset_index(drop=True)

In [20]:
df_downsampled.shape

(200, 3)