In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# create a sample dataframe with a categorical variable and a target variable
df = pd.DataFrame({
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price': [200, 150, 300, 250, 180, 320]
})

In [8]:
mean_price = df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [9]:
df['city_encoded'] = df['city'].map(mean_price)

In [10]:
df[['price','city_encoded']]

   price  city_encoded
0    200         190.0
1    150         150.0
2    300         310.0
3    250         250.0
4    180         190.0
5    320         310.0

# Practice

In [11]:
data = sns.load_dataset('tips')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [13]:
#encode day based on total bill
data['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [15]:
mean_day = data.groupby('day')['total_bill'].mean().to_dict()
mean_day

C:\Users\Hi There\AppData\Local\Temp\ipykernel_38192\3408220681.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_day = data.groupby('day')['total_bill'].mean().to_dict()

{'Thur': 17.682741935483868,
 'Fri': 17.15157894736842,
 'Sat': 20.44137931034483,
 'Sun': 21.41}

In [17]:
data['day_encoded'] = data['day'].map(mean_day)

In [20]:
data[['day', 'day_encoded']]

      day day_encoded
0     Sun   21.410000
1     Sun   21.410000
2     Sun   21.410000
3     Sun   21.410000
4     Sun   21.410000
..    ...         ...
239   Sat   20.441379
240   Sat   20.441379
241   Sat   20.441379
242   Sat   20.441379
243  Thur   17.682742

[244 rows x 2 columns]

In [21]:
data['day_encoded'].value_counts()

day_encoded
20.441379    87
21.410000    76
17.682742    62
17.151579    19
Name: count, dtype: int64